<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
    <title>数据结构知识点管理系统</title>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link type="text/css" rel="stylesheet" href="css/layui.css"/>
    <link type="text/css" rel="stylesheet" href="css/style.css"/>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/menu.js"></script>
    <script type="text/javascript" src="js/base.js"></script>
    <script type="text/javascript" src="js/index.js"></script>

    <!-- layer插件 -->
    <script type="text/javascript" language="javascript" src="js/layer.js"></script>
    <script type="text/javascript" language="javascript" src="js/layerOps.js"></script>

    <link href="css/sweetalert.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="js/sweetalert.min.js"></script>

</head>
<body>
<div id="header">
    <div class="logo">数据结构知识点管理系统 V1.0</div>
</div>
<div id="content">
    <div class="left_menu">
        <ul id="nav_dot">
            <li>

                <h4 class="M7"><span></span>用户管理</h4>
                <div class="list-item none">
                    <a th:href="@{/gotouser}" target="mainbody">用户管理</a>
                </div>
            </li>
            <li>
                <h4 class="M3"><span></span>知识点管理</h4>
                <div class="list-item none">
                    <a th:href="@{/gotoknowledge}" target="mainbody">线性表</a>
                    <a th:href="@{/gotoknowledge}" target="mainbody">栈和队列</a>
                    <a th:href="@{/gotoknowledge}" target="mainbody">串</a>
                    <a th:href="@{/gotoknowledge}" target="mainbody">数组和广义表</a>
                    <a th:href="@{/gotoknowledge}" target="mainbody">二叉树与树</a>
                    <a th:href="@{/gotoknowledge}" target="mainbody">图</a>
                    <a th:href="@{/gotoknowledge}" target="mainbody">查找与排序</a>
                </div>
            </li>
        </ul>
    </div>
    <div class="m-right">
        <div class="right-nav">
            <ul>

                <li style="margin-left:6px;" class="mg3">数据结构知识点管理系统</li>
                <li style="float: right"><a href="">退出登录</a></li>
                <li style="float: right"><a th:href="@{/goreg}">修改密码</a></li>
                <li style="margin-right:6px;float:right" class="welcome" th:utext="${msg3}"></li>
            </ul>
        </div>
        <div class="main">
            <iframe th:href="@{/gotoindex}" id="mainbody" name="mainbody" frameborder="1" scrolling="auto"></iframe>
        </div>
    </div>
</div>
<div id="footer"><p>数据结构知识点管理系统</p></div>
<script>navList(12);</script>
</body>
</html>