<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>知识管理</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="css/layui.css"/>
    <link rel="stylesheet" type="text/css" href="css/datatables.css" />
    <link type="text/css" rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css" />
    <script type="text/javascript" src="js/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/datatables.css" />
    <script type="text/javascript" language="javascript" src="js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="js/dataTables.bootstrap.js"></script>

    <!-- layer插件 -->
    <script type="text/javascript" language="javascript" src="js/layer.js"></script>
    <script type="text/javascript" language="javascript" src="js/layerOps.js"></script>

    <link href="css/sweetalert.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="js/sweetalert.min.js"></script>
    <link type="text/css" rel="stylesheet" href="css/validformstyle.css"/>
    <script type="text/javascript" src="js/Validform.min.js"></script>
    <script type="text/javascript" language="javascript" src="js/base.js"></script>
    <script type="text/javascript" language="javascript" src="js/layout.js"></script>
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
<div id="container">
    <div class="text-center w-full p-t-50 p-b-50">
        <a href="https://baike.baidu.com/item/%E7%BA%BF%E6%80%A7%E8%A1%A8/3228081?fr=aladdin" class="txt2">线性表</a>
        <label>&emsp;&emsp;</label>
        <a class="txt2" href="http://www.itongji.cn/detail?type=1122">栈和队列</a>
        <label>&emsp;</label>
        <a href="https://www.doc88.com/p-5746862671156.html" class="txt2">串</a>
        <label>&emsp;&emsp;</label>
        <a href="https://wenku.baidu.com/view/21ce2bfe50e79b89680203d8ce2f0066f433644e.html" class="txt2">数组和广义表</a>
        <label>&emsp;&emsp;</label>
        <a href="https://baike.baidu.com/item/%E4%BA%8C%E5%8F%89%E6%A0%91/1602879?fr=aladdin" class="txt2">二叉树与树</a>
        <label>&emsp;&emsp;</label>
        <a href="https://www.jianshu.com/p/bce71b2bdbc8" class="txt2">图</a>
        <label>&emsp;&emsp;</label>
        <a href="http://www.360doc.com/content/18/0430/21/27972427_750075" class="txt2">查找和排序</a>
    </div>

    <hr class="my-hr">
    <form class="form-inline search-form p-t-50" id="sensor-search-form">
        <div class="form-group">
            <button class="btn btn-default"><span class="icon-search"></span> 新增用户</button>
        </div>
        <label>&emsp; &emsp;&emsp;&emsp;</label>
        <div class="form-group">
            <button class="btn btn-default"><span class="icon-search"></span> 修改用户</button>
        </div>
        <label>&emsp; &emsp;&emsp;&emsp;</label>
        <div class="form-group">
            <button class="btn btn-default"><span class="icon-search"></span> 删除用户</button>
        </div>
    </form>
</div>

</body>
</html>